<div class="modal-header" modaldraggable>
    <button type="button" data-ng-click="cancel();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-github m-r-sm"></i>{{ 'locale-git-server' | translate }}</h4>
</div>
<div class="modal-body">
     <iframe src="https://github.com/bulutyazilim/awesome-datascience" height="400" width="800"></iframe> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel();">{{ 'locale-close' | translate }}</button>
</div>
