<div class="modal-body p-lg">
    <div class="sa">
        <div class="sa-success">
            <div class="sa-success-tip"></div>
            <div class="sa-success-long"></div>
            <div class="sa-success-placeholder"></div>
            <div class="sa-success-fix"></div>
        </div>
    </div>
    <div class="text-center">
        <p>{{pullStatus}}</p>
        <button type="button" class="btn btn-light m-t-lg m-r-md" data-ng-click="cancel();">{{ 'locale-cancel' | translate }}</button>
        <!--<button type="submit" class="btn btn-success m-t-lg" data-ng-click="confirmDelete();">Go To Terminal</button>-->
        <button type="submit" class="btn btn-success m-t-lg" data-ng-click="confirmDelete();">OK</button>
    </div>
</div>
