<div class="modal-header" modaldraggable>
    <button type="button" data-ng-click="cancel();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-rocket m-r-sm"></i>{{ 'locale-starting-launcher' | translate }}</h4>
</div>
<div class="modal-body">
    <get-ancode-loader-full-overlay data-ng-if="launcherLoader"></get-ancode-loader-full-overlay>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <!--<div class="start-launch"><img src="img/launchers/rocket-launch.gif" alt="start Launcher" title="start Launcher"/></div>-->
            <h3>{{ 'locale-start-launcher-title' | translate }} </h3>
            
            <p>{{ launchStatus }}..</p>
            <p  data-ng-if="launchStatus=='Launching'">{{ 'locale-start-launcher-msg' | translate }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center" data-ng-if="launchStatus=='Launching'"><a href="{{launcherUrl}}" target="_blank" class="btn btn-success">{{ 'locale-manual-launch' | translate }}</a></div>
</div>
