<div data-ng-controller="projectsCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12 page-title">
            <h2>{{ 'locale-create-project' | translate }}</h2>
        </div>
    </div>
    <div class="row wrapper page-breadcrumb">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a data-ui-sref="index.user-dashboard"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <strong><a data-ui-sref="projects.grid">{{ 'locale-projects' | translate }}</a></strong>
                </li>
                <li class="active">
                    {{ 'locale-edit-project' | translate }}
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">  
        <form name="projectForm" data-ng-submit="" novalidate role="form">
            <div class="ibox">
                <div class="ibox-content no-padding">
                    <div class="project-create-wrapper">
                        <div class="row">
                            <div class="col-md-8 col-sm-6">
                                <uib-tabset active="activeTab" class="content-tab project-create-tab" vertical="true">
                                    <uib-tab index="0">
                                        <uib-tab-heading>
                                            <i class="fa fa-edit" aria-hidden="true" title="{{ 'locale-general' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectGeneralCtrl">
                                            <div data-ng-include src="'views/projects/edit/general.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1">
                                        <uib-tab-heading>
                                            <i class="fa fa-external-link" aria-hidden="true" title="{{ 'locale-file-manager' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectFileManagerCtrl">
                                            <div data-ng-include src="'views/projects/create/file-manager.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="2">
                                        <uib-tab-heading>
                                            <i class="fa fa-rocket" aria-hidden="true" title="{{ 'locale-launchers' | translate }}"></i> 
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectLaunchersCtrl">
                                            <div data-ng-include src="'views/projects/create/launchers.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="3">
                                        <uib-tab-heading>
                                            <i class="fa fa-database" aria-hidden="true" title="{{ 'locale-dataset' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectDatasetCtrl">
                                            <div data-ng-include src="'views/projects/create/dataset.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="4">
                                        <uib-tab-heading>
                                            <i class="fa fa-cogs" aria-hidden="true" title="{{ 'locale-training-engines' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectTrainingEnginesCtrl">
                                            <div data-ng-include src="'views/projects/create/training-engines.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="5">
                                        <uib-tab-heading>
                                            <i class="fa fa-star" aria-hidden="true" title="{{ 'locale-scoring-configuration' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="projectScoringConfigCtrl">
                                            <div data-ng-include src="'views/projects/create/scoring-configuration.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="6">
                                        <uib-tab-heading>
                                            <i class="fa fa-inbox" aria-hidden="true" title="{{ 'locale-deployment-configuration' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="deploymentsConfigCtrl">
                                            <div data-ng-include src="'views/projects/create/deployment-configuration.html'"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="7">
                                        <uib-tab-heading>
                                            <i class="fa fa-users" aria-hidden="true" title="{{ 'locale-team-members' | translate }}"></i>
                                        </uib-tab-heading>
                                        <div class="" data-ng-controller="teamMembersCtrl">
                                            <div data-ng-include src="'views/projects/create/team-members.html'"></div>
                                        </div>
                                    </uib-tab>
                                    
                                </uib-tabset>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="project-preview border-left">
                                    <div class="border-bottom">
                                        <div class="project-general">
                                            <h5>Project Name</h5>
                                            <small>15-04-18</small>
                                            <div class="project-des">It is a long established fact that a reader will be distracted by the readable ...</div>
                                        </div>
                                    </div>
                                    <div class="scroll-body" slimscroll="{height: 513,size:4,distance:5}">
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-external-link m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-file-manager' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(1)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">{{ 'locale-project-repository' | translate }}</li>
                                                <li class="field-value">GIT</li>
                                                <li class="field-label">{{ 'locale-repo-url' | translate }}</li>
                                                <li class="field-value">https://git.assistanz.com/slmlp/slmlp-ui</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-rocket m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-launchers' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(2)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">R Studio, R, Editor, Terminal</li>
                                                <li class="field-value">R Studio + R</li>
                                                <li class="field-label">R, Python, Editor, Jupyter, Terminal</li>
                                                <li class="field-value">R Jupyter +Python+ R</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-database m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-dataset' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(3)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">{{ 'locale-dataset-name' | translate }}</li>
                                                <li class="field-value">Dataset Name</li>
                                                <li class="field-label">{{ 'locale-data-source' | translate }}</li>
                                                <li class="field-value">GIT</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-cogs m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-training-engines' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(4)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">Tensor Flow, Python</li>
                                                <li class="field-value">Tensor Flow</li>
                                                <li class="field-label">Theano, Python</li>
                                                <li class="field-value">Theano</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-star m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-model-scoring-config' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(5)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">{{ 'locale-publish-model-path' | translate }}</li>
                                                <li class="field-value">Publish model path</li>
                                                <li class="field-label">{{ 'locale-artifact-path' | translate }}</li>
                                                <li class="field-value">Artifact path</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-inbox m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-deployment-configuration' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(6)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">{{ 'locale-platform' | translate }}</li>
                                                <li class="field-value">CENTOS + R + APACHE SERVER</li>
                                            </ul>
                                        </div>
                                        <div class="section-preview">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h4>
                                                        <i class="fa fa-users m-r-sm" aria-hidden="true"></i> 
                                                        {{ 'locale-team-members' | translate }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a class="btn btn-light btn-xs" data-ng-click="projectsObject.setActiveTab(7)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="field-label">Data Engineer</li>
                                                <li class="field-value">Lura Osborne</li>
                                                <li class="field-label">Data Scientist</li>
                                                <li class="field-value">Theodore Bowman</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="project-preview-footer border-left">
                                        <div class="clearfix">
                                            <div class="col-md-6 no-padding">
                                                <a class="btn btn-light block btn-lg no-radius">{{ 'locale-cancel' | translate }}</a>
                                            </div>
                                            <div class="col-md-6 no-padding">
                                                <a class="btn btn-primary block btn-lg no-radius">{{ 'locale-create' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>  
    </div>
</div>