<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6 page-title">
        <h2>Project Name - {{ 'locale-logs' | translate }}</h2>
    </div>
</div>
<div class="row wrapper page-breadcrumb">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a data-ui-sref="index.user-dashboard"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li>
                <strong><a data-ui-sref="projects.grid">{{ 'locale-projects' | translate }}</a></strong>
            </li>
            <li>
                <strong><a data-ui-sref="project-details.summary">Project Name</a></strong>
            </li>
            <li class="active">
                {{ 'locale-logs' | translate }}
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins no-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="scroll-body" slimscroll="{height: 300,size:4,distance:5}">
                        [13:47:39] [INFO] [dku.flow.jobrunner] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Allocated a slot for this activity!<br>
                        [13:47:39] [INFO] [dku.flow.jobrunner] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Run activity<br>
                        [13:47:39] [INFO] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Executing default pre-activity lifecycle hook<br>
                        [13:47:39] [INFO] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Checking if sources are ready<br>
                        [13:47:39] [INFO] [dku.datasets.file] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Enumerating Filesystem dataset prefix=<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Computing hashes to propagate BEFORE activity<br>
                        [13:47:39] [INFO] [dku.datasets.file] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Enumerating Filesystem dataset prefix=<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Recorded 1 hashes before activity run<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Building recipe runner of type<br>
                        [13:47:39] [INFO] [dku.recipes.engines] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Resolved preferences projectKey=DKU_TSHIRTS_2 recipeType=shaker global={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} project={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} pplusg={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} recipe=null resolved={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}}<br>
                        [13:47:39] [INFO] [dku.recipes.shaker] running compute_crm_and_web_history_enriched_prepared_prepared_NP - User-selected engine: null - used engine: DSS<br>
                        [13:47:39] [INFO] [dip.shared.secret] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Read shared secret from existing file<br>
                        [13:47:39] [INFO] [dku.flow.jobrunner] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Allocated a slot for this activity!<br>
                        [13:47:39] [INFO] [dku.flow.jobrunner] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Run activity<br>
                        [13:47:39] [INFO] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Executing default pre-activity lifecycle hook<br>
                        [13:47:39] [INFO] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Checking if sources are ready<br>
                        [13:47:39] [INFO] [dku.datasets.file] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Enumerating Filesystem dataset prefix=<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Computing hashes to propagate BEFORE activity<br>
                        [13:47:39] [INFO] [dku.datasets.file] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Enumerating Filesystem dataset prefix=<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Recorded 1 hashes before activity run<br>
                        [13:47:39] [DEBUG] [dku.flow.activity] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Building recipe runner of type<br>
                        [13:47:39] [INFO] [dku.recipes.engines] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Resolved preferences projectKey=DKU_TSHIRTS_2 recipeType=shaker global={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} project={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} pplusg={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}} recipe=null resolved={"forbiddenEngines":[],"enginesPreferenceOrder":[],"forbiddenByRecipeType":{},"preferenceByRecipeType":{}}<br>
                        [13:47:39] [INFO] [dku.recipes.shaker] running compute_crm_and_web_history_enriched_prepared_prepared_NP - User-selected engine: null - used engine: DSS<br>
                        [13:47:39] [INFO] [dip.shared.secret] running compute_crm_and_web_history_enriched_prepared_prepared_NP - Read shared secret from existing file<br>
                        [13:47:40] [INFO] [dku.flow.shaker] running compute_crm_and_web_history_enriched_prepared_prepared_NP - SET PAYLOAD {<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
