<form role="form" id="departmentForm" name="departmentForm" novalidate data-ng-submit="departmentObject.save(departmentForm, department)">
    <div class="modal-header" modaldraggable>
        <button type="button" data-ng-click="cancel();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" data-ng-hide="departmentElement.updateButton"><i class="fa fa-plus-circle m-r-sm"></i>{{ 'locale-add-business-unit' | translate }}</h4>
        <h4 class="modal-title" data-ng-if="departmentElement.updateButton"><i class="fa fa-edit m-r-sm"></i>{{ 'locale-edit-business-unit' | translate }}</h4>
    </div>
    <div class="modal-body">
        <get-ancode-loader-full-overlay data-ng-if="departmentElement.createLoader"></get-ancode-loader-full-overlay>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group" data-ng-class="{'has-error': departmentForm.name.$invalid && departmentForm.submitted}">
                    <label> {{ 'locale-business-unit' | translate }} <span class="required">*</span></label>
                    <input type="text" required="true" name="name" class="form-control" data-ng-model="department.name"  data-ng-pattern="/^[a-zA-Z0-9][\w -]*$/" data-ng-minlength="3">
                    <div class="input-icon right" data-ng-if="departmentForm.name.$invalid && departmentForm.submitted">
                        <!--<i data-ng-if='!departmentForm.name.$error.required && departmentForm.name.$error' data-uib-tooltip="{{ departmentForm.name.errorMessage}}" data-tooltip-placement="left" class="fa fa-warning"></i>-->
                        <i data-ng-if='departmentForm.name.$error.required' data-uib-tooltip="{{ 'locale-business-unit-is-required' | translate}}" data-tooltip-placement="left" class="fa fa-warning"></i>
                        <i  data-ng-if="departmentForm.name.$error.pattern" data-uib-tooltip="{{ 'locale-invalid-department-name' | translate }}" data-tooltip-placement="left" class="fa fa-warning"></i>
                        <i  data-ng-if="departmentForm.name.$error.minlength" data-uib-tooltip="{{ 'locale-minlength-department-name' | translate }}" data-tooltip-placement="left" class="fa fa-warning"></i>
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': departmentForm.description.$invalid && departmentForm.submitted}">
                    <label> {{ 'locale-description' | translate }} </label>
                    <textarea name="description" rows="3" class="form-control" data-ng-model="department.description"></textarea>
                    <div class="input-icon right" data-ng-if="departmentForm.description.$invalid && departmentForm.submitted">
                        <i data-uib-tooltip="{{ 'locale-description-is-required' | translate }}" data-tooltip-placement="left" class="fa fa-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="cancel();">{{ 'locale-cancel' | translate }}</button>
        <button type="submit" class="btn btn-info" data-ng-hide="departmentElement.updateButton">{{ 'locale-save' | translate }}</button>
        <button type="submit" class="btn btn-info" data-ng-if="departmentElement.updateButton">{{ 'locale-update' | translate }}</button>
    </div>
</form> 
