<div class="login-wrapper">
    <div class="middle-box loginscreen">
        <form role="form" id="login-form" name="loginForm">
            <div class="middle-box-header text-center"><h3>{{ 'locale-login-welcome'| translate }}</h3></div>
            <div class="middle-box-content">
                <div class="form-group" data-ng-class="{'has-error': loginForm.userName.$invalid && loginForm.submitted}">
                    <label> {{ 'locale-user-name' | translate }} </label>
                    <input type="text" class="form-control" name="userName" required="">
                </div>
                <div class="form-group" data-ng-class="{'has-error': loginForm.password.$invalid && loginForm.submitted}">
                    <div class="row">
                        <div class="col-xs-6"><label> {{ 'locale-password' | translate }} </label></div>
                        <div class="col-xs-6 text-right"><a><small>{{ 'locale-forgot-password' | translate }} ?</small></a></div>
                    </div>
                    <input type="password" class="form-control" name="password" required="">
                </div>
            </div>
            <div class="middle-box-footer text-center">
                <div class="row">
                    <div class="col-xs-6"><label class="m-t-xs"> <input type="checkbox" class="i-checks"> {{'locale-remember-me' | translate }} </label></div>
                    <div class="col-xs-6"><button data-ui-sref="index.user-dashboard" type="submit" class="btn btn-success block full-width m-b">{{ 'locale-login' | translate }}</button></div>
                </div>
            </div>
        </form>
    </div>
    <p class="m-t text-center login-msg"> <small>{{ 'locale-have-account-yet' | translate }} <a data-ui-sref="common.register">{{ 'locale-signup-here' | translate }}</a></small> </p>
</div>