<div class="row">
    <nav class="navbar" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown">
                    <i class="fa fa-bell"></i>  <span class="label label-warning">04</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a data-ui-sref="user.profile" class="pull-left">
                                <div class="rounded-25 border-xs-info text-info">M</div>
                            </a>
                            <div class="media-body">
                                <small class="pull-right m-l-md">5m ago</small>
                                <strong>Manikandan</strong>  pushed to branch <strong>ui-demo</strong> at <strong>anCode / SLMLP-UI </strong>. <br>
                                <small class="text-muted">Today 5:60 pm - 16.01.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a data-ui-sref="user.profile" class="pull-left">
                                <div class="rounded-25 border-xs-danger text-danger">J</div>
                            </a>
                            <div class="media-body ">
                                <small class="pull-right m-l-md">2h ago</small>
                                <strong>Jamseer</strong> added <strong>Manikandan</strong>, <strong>Prakash</strong> to the project <strong>SLMLP</strong>. <br>
                                <small class="text-muted">Today 2:10 pm - 16.01.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a data-ui-sref="user.profile" class="pull-left">
                                <div class="rounded-25 border-xs-danger text-danger">J</div>
                            </a>
                            <div class="media-body ">
                                <small class="pull-right m-l-md">2h ago</small>
                                <strong>Jamseer</strong> created a new Project called <strong>SLMLP</strong> site. <br>
                                <small class="text-muted">Today 2:05 pm - 16.01.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a data-ui-sref="user.profile" class="pull-left">
                                <div class="rounded-25 border-xs-success text-success">S</div>
                            </a>
                            <div class="media-body ">
                                <small class="pull-right m-l-md">5h ago</small>
                                <strong>Safia</strong>  pushed to branch <strong>master</strong> at <strong>anCode / SLMLP-UI </strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 15.01.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a data-ui-sref="user.activities">
                                <strong>{{ 'locale-view-all' | translate }}</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" data-ng-click="mainObject.logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>